// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font

@font-face {
  font-family: "HKGroteskPro";
  font-weight: 400;
  src: url("../fonts/HK%20Grotesk%20Pro/HKGroteskPro-Regular.woff2") format("woff2"),
       url("../fonts/HK%20Grotesk%20Pro/HKGroteskPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "HKGroteskPro";
  font-weight: 600;
  src: url("../fonts/HK%20Grotesk%20Pro/HKGroteskPro-Medium.woff2") format("woff2"),
       url("../fonts/HK%20Grotesk%20Pro/HKGroteskPro-Medium.woff") format("woff");
}

// Font Mixins
@mixin body-font {
  font-family: "HKGroteskPro", serif;
  font-weight: 400;
}
@mixin heading-font {
  font-family: "HKGroteskPro";
  font-weight: 600;
}
